{% macro license(type, version) %}
<a href="http://www.creativecommons.org/licenses/{{ type }}/{{ version }}"
   title="Used under Creative Commons License"
   target="_blank"><img src="/images/cc/{{ type }}.png" border="0" width="80"
   height="15" alt="Creative Commons {{ type }}" /></a>
{% endmacro %}
