{% extends "layout.twig" %}

{% block title %}Features of {% endblock %}
{% block content %}
<h2>Features</h2>
<div class="rounded-enclosed padded-10">
    <ul>
        <li>You don't have to upload any images since Iconorator gives you a specific
            set of images to choose from.</li>
        <li>You can add or remove icons to your sprite with ease.  A unique link is
            included in your CSS file as a comment so you can load the sprite instead
            of having to re-select icons.</li>
    </ul>
</div>
{% endblock %}
